.App {
  text-align: center;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}
.nav-bar {
  font-size: 18px;
  font-family:Trebuchet MS, sans-serif ;
  padding-bottom: 10px;
  
  
}
.nav-link {
  font-size: 1.0rem;
  font-family: Arial, sans-serif;
  color:black;
  font-weight: 700;
  text-align:center;
  text-decoration:none;
  margin-inline-start: 20px;
  
}

.btn-flat {
  background-color:#b9dbf1;
  color: white;
  margin-left: 130px;
  margin-top: 30px;
  position: relative;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.btn-xxl {
  padding: 0.7rem 1.5rem;
  font-size: 0.95rem;
  font-family: Trebuchet MS, sans-serif;
  font-style: inherit;
  font-weight: 700;
}

body {
  height: 100vh;
  background-size: cover;
  font-family: Trebuchet MS, sans-serif;
  color: rgb(5, 5, 5);
  font-size: x-small;
  
}
.container{
  width: 650px;
  margin-top: 170px;
  max-width: 700px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  padding: 30px 20px 30px 20px;
 
}
.card-container{
  width: 650px;
  margin-top: 30px;
  max-width: 700px;
  box-shadow: 0px 14px 80px rgba(42, 48, 168, 0.2);
  background-image: radial-gradient(b);
  border-radius: 15px;
  padding: 30px 20px 30px 20px;

}

form{
  padding: 30px 20px 30px 20px;
}
.heading{
  font-weight: 600;
  color:rgba(0, 0, 0, 0.678);
  margin-left: 140px;
}
span{
  color: red;
  font-family: Trebuchet MS, sans-serif;

}

table{
  width: 450px;
  margin-top: 100px;
  padding: 30px 20px 30px 20px;

}

.card-deck{
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 30px 30px 30px 30px;
 
}

.footer{
  background: #152F4F;
  color:white;
  height:400px
  
}
.about-company{
  font-size: 25px;
  color:white;
}
.location{
  font-size: 18px;
}
.copyright p{border-top:1px solid rgba(255,255,255,.1);} 

.links{
  list-style-type: none
}